// Docweaver - Products

// common

a {
    @include transition(all 200ms);
}

// Product Bar
#docweaver-product-bar, #docweaver-product-line {
    background-color: lighten($color-primary, 2%);
    margin-bottom: 20px;
    min-height: 2px;

    #docweaver-docs-home-link {
        display: inline-block;
        padding-right: 0.68em;
        position: relative;
        @include transition(margin 1800ms);

        > span {
			@include backface-visibility(hidden);
			@include transition(all 300ms);
			background: #fff;
			display: block;
			height: 2px;
            margin: 0 0 5px auto;
            position: relative;
            @include opacity(0.68);
			width: rem-calc(15px);
			@include transition(all 800ms);

			&:first-child, &:last-child {
				width: rem-calc(12px);
			}

			&:last-child {
				margin-bottom: 0;
			}
        }
        
        &:hover {
            > span {
                margin-left: 0;
                margin-top: -3px;
                @include opacity(1);

                &:first-child {
                    margin-top: 0;
                    @include transform(rotate(-45deg));
                }

                &:last-child {
                    @include transform(rotate(45deg));
                }
            }
        }

        &:active, &.active {
            margin-right: 20%;

            & + a {
                @include opacity(0.3);
            }
        }
    }

    #docweaver-navbar-collapse-replacement {
        @include display-flex;
        margin-left: auto;
    }
    
    .navbar-brand {
        color: #fff;
    }

    .version-switcher {
        .current-version {
            @include opacity(1);
        }

        .version-menu {
            position: absolute;
            right: 0;
            left: auto;
        }

        .version-menu-btn {
            cursor: pointer;
        }
    }

    &#docweaver-product-line {
        display: block;

        &.no-line, &.invisible {
            background: transparent;
        }
    }
}

// Product Showcase
#docweaver-product-showcase {
    > .empty {
        padding: 1rem 0;

        p {
            line-height: inherit;
        }
    }
    .product-list {
        margin-bottom: 2rem;
        margin-top: 2rem;

        .product {
            background: rgba(#fff, 0.7);
            border: 1px solid rgba($color-lighter-gray, 0.6);
            @include border-radius(3px);
            @include box-shadow(0 0 5px 0 rgba(#111, 0.05));
            margin: 1rem 0;
            overflow: hidden;
            @include transition(all 200ms);

            * {
                @include transition(all 200ms);
            }

            a {
                @include display-flex;
                @include flex-wrap(wrap);
                text-decoration: none;
            }

            .product-title, .product-info {
                padding: 0.8rem 1rem;
            }

            .product-title {
                background: rgba(#fff, 0.3);
                border-bottom: 1px solid rgba($color-lighter-gray, 0.46);
                font-size: 21px;
                margin-bottom: 0;
                @include flexbox((flex: 1 0 100%));
            }

            .product-image {
                background: rgba($color-lighter-gray, 0.28);
                border-bottom: 1px solid rgba($color-lighter-gray, 0.346);
                display: block;
                @include flexbox((flex: 1 1 auto));
                height: auto;
                padding: 0;

                img {
                    color: transparent;
                    display: block;
                    height: auto;
                    margin: 0 auto;
                    max-height: 100%;
                    max-width: 100%;
                }

                @media (min-width: $bp-medium + 1) {
                    max-width: 30%;
                }
            }

            .product-info {
                background-color: rgba($color-lighter-gray, 0.26);
                color: $color-gray;
                @include flexbox((flex: 3 1 auto));

                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
    
                    li {
                        color: rgba($color-gray, 0.7);
                        font-size: rem-calc(12px);
                        margin: 0;
                        padding: 0;
                        @include transition(all 200ms);

                        &:hover {
                            color: rgba($color-gray, 0.9);
                        }

                        .label {
                            background: transparent;
                            color: inherit;
                            font-size: 1em;
                        }

                        &.description {
                            color: inherit;
                            font-size: 1rem;
                            margin-bottom: 0.8rem;

                            .label {
                                display: none;
                            }
                        }
                    }
                }
            }

            &:hover, &:focus {
                border-color: rgba($color-primary, 0.6);
                @include box-shadow(0 0 5px 0 rgba(#111, 0.005));

                .product-image {
                    background-color: rgba($color-primary, 0.25);
                }

                .product-image, .product-title {
                    color: $color-primary;
                    border-bottom-color: rgba($color-primary, 0.2);
                }

                .product-info {
                    background-color: rgba($color-primary, 0.07);
                }
            }
        }
    }
}

#docweaver-footnotes {
    display: block;
    color: rgba($color-gray, 0.83);
    font-size: 9px;
    margin: 1rem 0;
    padding: 0 1rem;
    line-height: 1.6;
    text-align: center;

    .by-line {
       color: inherit;
    }

    a {
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
}