// DocWeaver - mixins

// clearfix
@mixin clearfix {
    * {
        zoom: 1;
    }
    
    &:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

@mixin smooth {
    -webkit-font-smoothing: antialiased;
}

@mixin items {
    @include clearfix;
    margin: 0 -15px 30px -15px;
    display: flex;
}

// zero corners
@mixin zero-corners($zero: 0) {
    bottom: $zero;
    left: $zero;
    right: $zero;
    top: $zero;
}
