// DocWeaver - Sidebar

.sidebar {
	border-right: 1px solid $color-faint;
	width: 250px;
	float: left;
	padding: 35px;

	h2 {
		position: relative;
		font-size: 14px;
		font-weight: 400;
		padding: 0.75rem 0.75rem 0.75rem 0;
		margin: 0;
		font-weight: 600;
		cursor: pointer;
		transition: color 0.1s linear;
		border-bottom: 1px dashed rgba(0, 0, 0, 0.1);

		&:focus {
			outline: 0;
		}

		&:hover,
		{
			color: $color-darker-primary;
			// border-color: currentColor;
		}

		&:after {
			content: "";
			position: absolute;
			right: 0;
			top: 1.15rem;
			width: 0;
			height: 0;
			border-top: 4px solid transparent;
    		border-right: 4px solid transparent;
    		border-left: 4px solid $color-lighter-gray;
			border-bottom: 4px solid transparent;
			@include transition(all 180ms);
		}

		& + ul {
			display: none;
		}

		&.is-active, &.is-expanded {
			// color: $color-darker-primary;
			// border-bottom-style: solid;

			&:after {
				transform: rotate(90deg);
			}

			& + ul {
				display: block;
			}
		}
	}

	> ul {
		list-style: none;
		padding: 0;
		margin: 0;

		> li {
			font-size: 14px;
			font-weight: 400;
			padding: 0;
			margin: 0;
			line-height: 25px;

			> ul {
				list-style: none;
				margin: 0.5rem 0 0;
				padding: 0;
				font-size: 14px;
				padding-left: 0.75rem;
			}
		}

		li {
			&.is-active, &.active {
				font-weight: bold;
			}
		}
	}

	a {
		line-height: 1.5;

		&:hover {
			color: $color-darker-primary;
		}

		&#doc-expand {
			color: transparent;
			display: block;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 0;
				height: 0;
				border-top: 6px solid transparent;
				border-right: 6px solid transparent;
				border-left: 6px solid $color-lighter-gray;
				border-bottom: 6px solid transparent;
				@include transition(all 180ms);
			}

			&.is-active, &.is-expanded {
				&:after {
					border-left-color: $color-primary;
					transform: rotate(90deg);
				}
			}
		}
    }
    
    // carbon ads
    #carbonads span {
        display: block;
        overflow: hidden;
	}

    .carbon-img {
        display: block;
        margin: 0 auto 1em;
    }

    .carbon-text {
        display: block;
        margin-bottom: .5em;
    }

    .carbon-poweredby {
        display: block;
        font-size: 11px;
    }
}

@media (max-width:1080px) {
	.sidebar {
		padding: 25px;
		width: 200px;
	}
}

@media (max-width:780px) {
	.sidebar {
		display: none;
	}
}
